.mave-full-height {
  height: 100%;
}

.mave-scroll-vertical {
  overflow-y: auto;
}

.mavedb-1000px-col {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  overflow-x: hide;
}

.mave-collection-badges {
  flex: 0 1 auto;
  font-size: 12px;
  line-height: 29px;
  margin-right: 5px;
  padding: 0 0 0 7px;
}

.mave-screen-title-bar {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  overflow: hidden; /* Prevents layout shifting */
}

.mave-screen-title {
  flex: 1 1 auto; /* Allow it to grow when possible */
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: normal;
  overflow: visible;
}

.mavedb-screen-title-controls {
  align-self: flex-end;
  display: flex;
  flex: 0 1 auto; /* Only take space if present */
  width: max-content;
}

.mavedb-screen-title-controls .p-button {
  margin-right: 10px;
}

.mavedb-screen-title-controls .p-button:last-child {
  margin-right: 0;
}
